* {
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #11423d;
}
.firstP {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 30px;
}
.Quizes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.it-quiz {
  font-size: 20px;
  display: flex;
  cursor: pointer;
  height: 100px;
  width: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #12a192;
  border: none;
  /* border: 2px solid black; */
  transition: ease-in-out 0.35s;
  margin-bottom: 40px;
}

.it-quiz:hover {
  background-color: #4efceb;
}
.it-quiz p {
  color: black;
  font-weight: bold;
}
.it-quiz img {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
